*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    line-height: 26px;
}
.menu_checker{
    display: none;
}
.burger{
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 50px;
    font-weight: bolder;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
}
.nav_logo{
    width: 150px;
    height: 100px;
    margin-left: 50px;
}
.nav_logo h1{
    margin: 40px auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
}
ul{
    height: 50px;
    margin: 32px  70px 0 0;
    list-style: none;
    display: flex;
    align-items: center;
}
ul > li{
    margin: 0 41px;
}
.selected a{
    border-bottom: 3px solid black;
}
.contact{
    width: 150px;
    height: 50px;
    display: block;
    border-radius:  20px;
    border:1px solid green;
    margin: 0 0 0 30px;
}
.contact a {
    color:green;
    text-align: center;
    margin: 12px auto;
}
a{
    display: block;
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.body{
    width: 100%;
    background-color: #ffffff;
    padding: 150px 0 0 0;
}
.body > div{
    padding-left: 50px;
    padding-right: 50px;
}
.founder_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.founder_container img{
    width: 70%;
    max-width: 600px;
}
.founder_box{
    width: 40%;
}
.founder_box h1{
    font-size: 50px;
}
.founder_box p{
    margin: 18px 0;
}
.are_container{
    width: 100%;
    background-color: #F7FFF6;
    padding: 130px 0 140px 0 ;
}
.are_container h3{
    font-size: 35px;
    text-align: center;
}
.are_container button{
    width: 200px;
    height: 50px;
    background-color: #029837;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 50px auto 0;
}
.subscribe_container{
    width: 100%;
    background-color: #ffffff;
    padding: 100px  0 0 0 !important;
}
.subscribe_header{
    width: 70%;
    margin: 0 auto;
}
.subscribe_header h3{
    font-size: 35px;
    margin: 0px auto 20px;
    text-align: center;
}
.subscribe_header p{
    text-align: center;
}
.subscribe_input_box{
    width: 70%;
    margin: 70px auto 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe_input_box input{
    width: 70%;
    height: 50px;
    border-radius: 20px;
    border:none;
    background-color: #F2F1F1;
    padding: 0 0 0 35px;
}
.subscribe_input_box button{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 2px;
}
.footer{
    width: 100%;
    background-color: #010133;
    padding: 150px  150px 0 210px;
}
.footer_flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_cart h1{
    color: #ffffff;
    margin: 0 0 20px 0;
}
.footer_cart h3{
    color: #ffffff;
    margin: 15px 0 15px 0;
    font-weight: 300;
}
.conect_with_us h3{
    color: #ffffff;
}
.social_media img{
    margin: 0 20px 0 0;
}
@media only screen and (max-width: 1200px) {
    .founder_container{
        flex-direction: column;
    }
    .founder_box{
        width: 80%;
    }
    .footer{
        padding: 150px  50px 50px 50px;
    }
}
@media only screen and (max-width: 760px) {
    ul{
        display: none;
        width: 40%;
        height: 200px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;;
        margin: 100px auto;
    }
    ul li{
        width: initial !important;
        height: initial !important;
        margin: 20px 0 20px 0 !important;
    }
    li a{
        color: #ffffff !important;
        text-align: center;
        border: none !important; 
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .menu_checker:checked ~ ul{
        display: block;
    }
    .menu_checker:checked ~ .burger{
        color: white;
        width: 100%;
        height: 400px;
        top: 0;
        right: 0;
        padding: 40px 80px;
        background-color: rgba(0, 0, 0, 1);
    }
    .body{
        padding:150px 0 0 0
    }
    .subscribe_input_box{
        flex-direction: column;
        gap:30px;
    }
    .subscribe_input_box button{
        width: 150px;
    }
    .subscribe_input_box input{
        width: 90%;
    }
    .footer_flexbox{
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
}